body{
    font-family: 'Montserrat', sans-serif !important;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}

hr{
    margin-top: 0 !important;
}
.image{
   background-image: url(home.jpeg);
   height:75vh;
   width:75vw;
   background-position: center; 
   background-repeat: no-repeat; 
   background-size:cover ;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.name{
    font-size: 50px;
    margin-left: 12%;
    margin-top: 1%;
    align-self: center;
}

.courtney{
    font-weight: 400;
}

.topnav-right {
    align-self: center;
    margin-right: 12%;
  }

  a{
    text-decoration: none !important;
    color: black !important;
  }

  .topnav-right{
      font-size: 20px;
      padding-left: 35px;
      
  }

  a:hover {
    color: #00B0FF !important;
  }

  .social{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
  }

  .sm{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px ;
  margin-bottom: 15px;
  }

  .link{
    padding-left: 30px;
  }

  .end{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
  }

  .page-2{
      font-weight: 600;
    font-size: 60px;
    margin: 0;
    margin-left: 40%;
    margin-top: 5%;
  }

  .page-2-2{
font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-left: 40%;
  margin-bottom: 3%;
}

  .top-line{
        border: 2px solid black;
        width: 90%;
      }
 
      .item-a {
        grid-area: title;
      }
      .item-b {
        grid-area: publication;
      }
      .item-c {
        grid-area: description;
      }
      .item-d {
        grid-area: link;
      }

      .container {
          margin-top: 100px;
          margin-bottom: 100px;
        display: grid;
        grid-template-columns: 15% 20% 10% 40% 20%;
        grid-template-rows: auto;
        grid-template-areas: 
          ".title . description . "
          ". . . publication ."
          ". . . link .";
      }

      .title{
          font-size: 25px;
          line-height: 1.6;
      }

      .publication{
          color: gray;
          font-size: 20px ;
      }

      .description{
          line-height: 150%;
          font-size: 15px;
          line-height: 2;
      }

      .to-link{
          text-decoration: underline !important;
          color: blue !important;
          font-size: 15px;
      }

      .mid-line{
            width: 80%;
        }
    .home-link{
        color: blue !important;
        margin-bottom: 50px;
    }
    
    .about-container{
        display: flex;
    justify-content: center;
    align-items: center; 
    margin: 60px;
    }

    .about-img{
background-image: url(me.jpeg);
height: 400px;
width: 400px;
background-position: center;
background-size: cover;
    }

    .space{
        width: 60px;
    }

    .about-text{
        height: 400px;
        width: 600px;
padding-top: 30px;
line-height: 1.6;
font-size: 16px;
    }

.work-text{
    margin: 0, auto;
    margin-top: 3%;
margin-right: 10%;
margin-left: 10%;
line-height: 2;
}

.blue-text{
    font-weight: 700;
color: #00B0FF;
font-style: italic;
}

.sign{
    font-size: 25px !important;
    font-weight: 500;
    margin-left: 30%;
}


.btn-color{
    background-color: #00B0FF !important;
}

.box{
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
   width: 50%; 
}

.contact-me{
 width: 40%;
 padding-top:50px;
 margin: 0 auto;
 font-size: 20px;
 line-height: 2;
 
}

.list{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center; 
    list-style-type: none;
    font-size: 25px;
    padding:10px;
    padding-top: 50px;
}
